.container{
    text-align: center;
    width: 300px;
    height: auto;
    display: inline-block;
    margin-right: 20px;
    background-image: linear-gradient(#833ab4, #c13584);
    border-radius: 10px;
    color: #fff;
    padding: 15px;
}